body {
  background-color: white;
  font-size: 14pt;
}

h1 {
  font-size: 24pt;
}
h2 {
  font-size: 20pt;
}
h3 {
  font-size: 16pt;
}
.title {
  font-size: 18pt;
}
a.button {
  display: none;
}

#work .job .pts {
  display: block !important;
  height: auto !important;
}
#experience .experience ul {
  display: block !important;
  height: auto !important;
}
