// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */

 @import
  'variables',
  'typography';


html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  color: $text-color;
  background-color: $light-background;
  font: normal 16px / 1.2 $text-font-stack;
  margin: 0;
  .content {
    padding: $page-padding;
  }
  @media print {
    background-color: white;
    font-size: 11.5pt;
    padding: 0;
  }
}
h1 {
  color: $text-color;
  font-size: 30px;
  font-weight: normal;
  margin: .2em 0;

  @media print {
    font-size: 24pt;
  }
}
h2 {
  color: $text-color;
  font-size: 20px;
  font-weight: normal;
  margin: .2em 0;

  @media screen and (max-width: map-get($breakpoints, "small")) {
    font-size: 18px;
  }
  @media print {
    font-size: 15pt;
  }
}
h3 {
  color: $text-color;
  font-size: 16px;
  font-weight: normal;
  margin: .2em 0;

  @media screen and (max-width: map-get($breakpoints, "small")) {
    font-size: 14px;
  }
  @media print {
    font-size: 12pt;
  }
}
.title {
  font-size: 28px;

  @media screen and (max-width: map-get($breakpoints, "small")) {
    font-size: 24px;
  }
  @media print {
    font-size: 19pt;
  }
}
ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 1.1em;

}
.small-text {
  font-size: 80%;
}

/**
 * Utility classes
 */
.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.section-title {
  p {
    margin-top: 0;
  }
}
.no-print {
  @media print {
    display: none;
  }
}
/**
 * Basic styles for links and buttons
 */
a {
  color: $text-color;
  text-decoration: none;

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
  &.button {
    display: inline-block;
    padding: 1em 3em;
    color: $light-background;
    background-color: $highlight-color;
    text-transform: uppercase;
    transition: transform .2s ease-in-out;

    @media screen and (max-width: map-get($breakpoints, "small")) {
      padding: .7em 2em;
    }

    &:hover {
      transform: scale(1.05);
      text-decoration: none;
    }
    &.large {
      font-size: 24px;
      padding: 1em 4em;
      @media screen and (max-width: map-get($breakpoints, "small")) {
        font-size: 22px;
        padding: 1em 2.5em;
      }
    }
  }
}
p {
  line-height: 1.5em;
  a {
    color: $highlight-color;
  }
}



/**
 * Toggle  styles
 */
 .toggle {
   color: $light-background;
   width: 40px;
   height: 40px;
   margin-right: 20px;
   border: 0;
   font-size: 1.5em;
   position: relative;
   display: inline-block;

   span {
     position: absolute;
     transition: .3s;
     background: $light-background;
     border-radius: 2px;

     @media print {
       background: white;
     }

     &:first-of-type {
       top: 25%;
       bottom: 25%;
       left: 45%;
       width: 10%;
     }
     &:last-of-type {
       top: 45%;
       right: 25%;
       left: 25%;
       height: 10%;
     }
   }
 }
.active {
  .toggle {
    span:first-of-type, span:last-of-type {
      transform: rotate(90deg);
    }
    span:last-of-type {
      left: 50%;
      right: 50%;
    }
  }
}

/**
 * Notice banner styles
 */
 #notice {
   font-size: 12px;
   text-align: center;
   text-transform: uppercase;
   background-color: $highlight-color;
   a.notice-wrap {
     display: block;
     padding: 1em 2em;
     color: $light-background;
     .notice-text {

     }
   }
 }


/**
 * Header styles
 */

#header {
  margin: 0;

  .header-wrap {
    @media screen and (max-width: map-get($breakpoints, "medium")) {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .header-section {
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      @media screen and (max-width: map-get($breakpoints, "medium")) {
        text-align: center;
      }

      .interests {
        padding: 0 20px;
      }
    }
  }
}




/**
 * Layout and section styles
 */
section {
  margin: 60px 0;
  .section-title {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

/**
 * Work section styles
 */
#work {
  .job {
    background-color: $dark-background;
    color: $light-background;
    padding: 24px;
    margin: 20px 0;
    cursor: pointer;
    transition: background-color .3s ease;

    @media print {
      color: white;
    }
    h1, h2, h3, li, a {
      color: $light-background;

      @media print {
        color: white;
      }
    }
    .job-wrap {
      position: relative;

      .main {
        @media screen and (max-width: map-get($breakpoints, "small")) {
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
        }
        .title {
          -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
          .job-title {

          }
        }
        .time {

          @media screen and (max-width: map-get($breakpoints, "small")) {
            width: 100%;
            padding-left: 60px;
          }
        }
      }
      .pts {
        -webkit-transition: height .3s ease;
        -o-transition: height .3s ease;
        transition: height .3s ease;
        overflow: hidden;
        margin-left: 60px;

        @media screen and (max-width: map-get($breakpoints, "small")) {
          margin-left: 0;
        }
        @media print {
          display: block !important;
          height: auto !important;
        }

        h3 {
          padding-top: 1em;
          text-transform: uppercase;
          font-size: 80%;
        }
      }
    }
    &.active {
      background-color: $highlight-color;
      .job-wrap {
        .main {

        }
        .pts {
          //display: block;
        }
      }
    }
    &:not(.active) {
      .pts {
        display: none;
      }
    }
    &:hover {
      background-color: $highlight-color;
    }
  }
}
/**
 * Experience section styles
 */
#experience {
  @media print {
    margin-bottom: 0;
  }
  .section-title {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    grid-template-areas: ". . ." ". . .";

    @media screen and (max-width: map-get($breakpoints, "large")) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: ". ." ". ."". .";
    }
    @media screen and (max-width: map-get($breakpoints, "medium")) {
      grid-template-columns: 1fr;
      grid-template-areas: "." "." "." "." "." ".";
    }
    .experience {
      background-color: $dark-background;
      padding: 20px;
      cursor: pointer;
      overflow: hidden;
      transition: background-color .3s ease;
      h1, h2, h3, li, a {
        color: $light-background;

        @media print {
          color: white;
        }
      }
      .main {
        -webkit-align-items: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        z-index: 10;
        position: relative;

        .toggle {
          margin-right: 10px;
        }
        .title {
          -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
          flex: 1 1 auto;
        }
      }
      ul {
        display: none;
        -webkit-transition: height .3s ease;
        -o-transition: height .3s ease;
        transition: height .3s ease;
        overflow: hidden;
        margin: 0;
        margin-left: 10px;
        line-height: 1.6em;

        @media print {
          display: block !important;
          height: auto !important;
          font-size: 10pt;
        }
        li {
          &:first-of-type {
            padding-top: 20px;
          }
        }
      }
      &.active {
        background-color: $highlight-color;

        .main {
          -webkit-align-items: flex-start;
          -ms-flex-align: flex-start;
          align-items: flex-start;
        }

        ul {
          display: block;
        }

      }
      &:not(.active) {
        .main:after {
          content: "";
          position: absolute;
          left: -20px;
          right: -20px;
          top: calc(100% + 20px);
          height: 100vh;
          background-color: $light-background;
          @media print {
            display: none;
          }
        }
        ul {
          display: none;
        }
      }
    }
  }
}
/**
 * References section styles
 */
#references {
  .section-title {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
  }
}
/**
 * Print sepcific styles
 */
@media print {
  #work {
    .job {
      &:nth-of-type(3) {
        page-break-after: always;
      }
    }
  }
}

/**
 * Cover letter sepcific styles
 */
#cover {
  padding: 10%;

  p {
    line-height: 1.6em;
    @media print {
      font-size: 14pt;
    }
  }
}
